META.yml
MYMETA.yml
MYMETA.json
Makefile
Makefile.old
MANIFEST.bak
inc/
blib/
xs-src/AAlib.[co]
*.bs
pm_to_blib
ppport.h
*~
/Text-AAlib-*
/.build
/_build_params
/Build
!Build/
!META.json
!LICENSE

lib/Text/*.[co]
lib/Text/*.xs
_build/
